
/* Common */
.navbar-brand img {
    height: 40px !important;
}

.section-hero {
    min-height: 100vh !important;
}

.input-group-addon .input-group-text{
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 100%;
}

.form-group .form-control:focus {
    border-color: #5e72e4 !important;
    color: #5e72e4;
}

.form-group .form-control:focus::placeholder {
    transition: 0.3s;
    color: #5e72e4;
}

.user-widget img {
    border: 2px solid white;
}

.navbar-background {
    width: 100%;
    height: 95px;
    position: absolute;
    top: 0;
    left: 0;
    background: #5e72e4;
}

.navbar-collapse .btn {
    margin-top: 0.75rem;
}

.td-actions .btn-icon {
    width: 29px;
    height: 29px;
}

.card-profile-image img {
    width: 75%;
}

/* Home page */
#appointment-form {
    max-width: 300px;
    width: 100%;
}

.container01 {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header ul {
    padding: 0;
    list-style: none;
}
header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding {
    float: left;
}
header #branding h1 {
    margin: 0;
}
#section01 {
    margin: 20px 0;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.clearfix01:after {
    content: "";
    display: table;
    clear: both;
}
.section-half01 {
    width: 48%;
    float: left;
    margin: 1%;
}
.button01 {
    background: #0779e4;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
/* Forum page */