<!-- Footer -->
<footer th:fragment="footer" class="footer">
  <div class="container">
    <div class="row row-grid align-items-center my-md">
      <div class="col-lg-12">
        <h3 class="text-primary font-weight-light mb-2">
          <i class="fa fa-thumbs-up"></i>
          Resilient vaccination management system with 0% downtime!
        </h3>
        <h6 class="mb-0 font-weight-light">
          Disclaimer: the long-term effects of the vaccine are unknown. We take no responsibility.
        </h6>
      </div>
    </div>
    <hr />
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">&copy; 2022 <a href="/" target="_blank">HSE VaxApp</a>.</div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <a href="/About" class="nav-link">About Us</a>
          </li>
          <li class="nav-item">
            <a href="/forum" class="nav-link">Forum</a>
          </li>
          <li class="nav-item">
            <a href="/License" class="nav-link">License</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
