<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head th:insert="fragments/head :: head"><title>License</title></head>
<body>
<div th:replace="fragments/navbar:: navbar"></div>
<div class="wrapper">

    <div class="section section-shaped">
        <div class="navbar-background"></div>
        <div class="page-header">
            <div class="container py-lg px-4">
                <div style="text-align: center;">
                    <h1>About this Website</h1>
                </div>
                <div style="text-align: center">
                    <h5>The VaxApp website is licensed to UCD.</h5>
                </div>

            </div>

        </div>
    </div>
    <footer th:insert="fragments/footer :: footer"></footer>
</div>
</body>
</html>